.botonQR[shape=circle] {
    --border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    color: black;
    // font-family: 'Merriweather';
}
.imgQR {
    width: 100px;
    height: 100px;
    margin: auto;
    color: white;
}
.logoInicio {
    width : 200px;
    align-items: center;
    position: fixed;
    bottom: 20px;
}
.detener {
    position: fixed;
    bottom: 100px;
    width: 270px;
}
.scanner {
    border: 2px solid #fff;
    box-shadow: 0 0 0 100vmax rgb(0, 0, 0, 0.5);
    content: "";
    display: block;
    left: 50%;
    height: 300px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
}
