ion-button {
    width : 270px;
}
ion-input {
    width : 270px;
}
.logoLogin {
    width : 150px;
    left: 10px;
    top: 5px;
    position:fixed;
}
.registrapp {
    font-family: 'Merriweather';
    font-size: 50px;

}