<ion-content class="negro">

  <div>
    <img src="assets/images/logoDuoc.png" class="logoLogin">
    <img src="assets/images/login.jpg">
  </div>

  <ion-row class="ion-justify-content-center">
    <h1 class="registrapp">RegistrAPP</h1>
  </ion-row>

  <ion-row class="ion-justify-content-center">
    <ion-item class="ion-margin-top grisOscuro">
      <ion-label position="floating">Cuenta</ion-label>
      <ion-input [(ngModel)]="user"></ion-input>
    </ion-item>
  </ion-row>
  
  <ion-row class="ion-justify-content-center">
    <ion-item class="ion-margin-top grisOscuro">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input [(ngModel)]="pwd" type="password"></ion-input>
    </ion-item>
  </ion-row>

  <ion-row class="ion-justify-content-center ion-margin-top">
    <ion-button (click)="ingresar()" class="amarillo" shape="round">
      <ion-icon name="log-in-outline" slot="start"></ion-icon>
      Ingresar
    </ion-button>
  </ion-row>
  
  <ion-row class="ion-justify-content-center ion-margin-top">
    <ion-button (click)="cambiarPwd()" class="gris" shape="round">Restablecer contraseña</ion-button>
  </ion-row>

  <ion-row class="ion-justify-content-center ion-margin-top">
    <ion-button (click)="registroCuenta()" fill="outline" shape="round">Registrarme</ion-button>
  </ion-row>

</ion-content>
