/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// Colores Duoc:
    // Negro: #1A1A1A - rgba(26, 26, 26, 1)
    // Amarillo: #FFB800 - rgba(255, 184, 0, 1)
    // Gris: #666666 - rgba(102, 102, 102, 1)
    // Gris claro: #eeeeee - rgba(238, 238, 238, 1)

.negro {
    --background: #1A1A1A;
    --color: #FFFFFF;
}
.amarillo {
    --background: #FFB800;
    --color: #FFFFFF;    
}
.gris {
    --background: #666666;
    --color: #FFFFFF;    
}
.gris2 {
    --background: #eeeeee;
    --color: #FFFFFF;    
}
.botonOutline {
    --color: #FFB800;
    --border-color: #FFB800;
}



